<div>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span>PetShop</span>
      </a>
  
      <ul class="nav">
        <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="newpet" class="nav-link">New Pet</a></li>
        <li class="nav-item"><a routerLink="editpet" class="nav-link">Search Pet</a></li>
        <li class="nav-item"><a routerLink="accommodations" class="nav-link">Accommodations</a></li>
      </ul>
    </header>
</div>