<div *ngIf="petList.length">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Pet name</th>
        <th>Owner name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let pet of petList" class="align-middle">
        <td>{{pet.name}}</td>
        <td>{{pet.ownerDTO?.name}}</td>
        <td>
          <input type="button" class="btn btn-primary mr-1" (click)="editPet(pet)" value="Editar">
          <input type="button" class="btn btn-danger" (click)="deletePet(pet.id)" value="Excluir">
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!petList.length && showResult" class="text-center">
  <h5>Pet not found</h5>
</div>
