<div>
  <form  [formGroup]="searchForm" (ngSubmit)="searchPet()" *ngIf="!isPetSelected">
    <div class="form-row align-items-center">
      <div class="col">
        <input type="search" class="form-control" placeholder="Pet name" formControlName="petName" name="search"/>
      </div>
      <div class="col">
        <input type="submit" class="btn btn-primary" value="Search" [disabled]="!searchForm.valid">
      </div>
    </div>
  </form>

  <div class="mt-4">
    <app-list-pet *ngIf="!isPetSelected" [petList]="petList" [showResult]="showResult"></app-list-pet>

    <app-edit-pet *ngIf="isPetSelected"></app-edit-pet>
  </div>
</div>
