<div class="container">
  <form class="form-inline" (ngSubmit)="searchPet()" *ngIf="!selectedPet">
    <input type="search" class="form-control" placeholder="Pet name" [(ngModel)]="petName" name="search"/>
    <button type="submit" class="btn btn-outline-success my-2">Search</button>
  </form>

  <app-list-pet 
    *ngIf="!selectedPet"
    [findPet]="findPet" 
    [showResult]="showResult"
    (selectedPet)="onSelectedPet($event)">
  </app-list-pet>
  
  <app-edit-pet 
    *ngIf="selectedPet"
    [selectedPet]="selectedPet">
  </app-edit-pet>
</div>