<form [formGroup]="petForm" (ngSubmit)="onEditPet()">
    <div class="form-group">
      <label for="accommodation">Free Accommodations</label>
      <select name="accommodation" id="accommodation" class="form-control" formControlName="accommodationSelected">
        <option [ngValue]="petForm.value.accommodationSelected">{{petForm.value.accommodationSelected}}</option>
        <option *ngFor="let accommodation of freeAccommodations" [ngValue]="accommodation.number">
          {{accommodation.number}}
        </option>
      </select>
    </div>

    <h5>Pet Information</h5>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" formControlName="petName" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="reasonForTreatment">Reason For Treatment</label>
      <input type="text" name="reasonForTreatment" formControlName="reasonForTreatment" class="form-control" />
    </div>

    <input type="submit" class="btn btn-primary mr-1" value="Submit">
    <input type="button" class="btn btn-warning" value="Cancel" (click)="onCancel()">
</form>
